name: flutter_mcd_ecommerce
version: 1.0.0+1
publish_to: none
description: A new Flutter project.
environment:
  sdk: '>=3.0.6 <4.0.0'

dependencies:
  google_fonts: ^6.0.0
  cupertino_icons: ^1.0.2
  flutter_staggered_grid_view: ^0.7.0
  flutter_svg: ^2.0.7
  intl: ^0.18.1
  get: 4.6.5
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^2.0.0
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/ 